{% extends 'main/base.html' %}

{% block content %}

<div class="row">
<!--{% if perms.dogs_app.add_dog %}-->
<div class="col-12 mb-5">
   </div>
<!--{% endif %}-->
{% for object in object_list %}
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <div class="card-header">Лог сообщения {{ object.message.pk }}</div>
        <div class="card-body">
            <p class="card-text">{{ object.last_attempt }}</p>
            <span class="text-muted">{{ object.status }}</span><br>
            <span class="text-muted">{{ object.server_response }}</span>
        </div>
        <div class="card-footer">
            <a class="btn btn-link" href="{% url 'dogs_app:update_dogs' object.pk %}">Изменить</a>
            <a class="btn btn-outline-danger float-right" href="{% url 'dogs_app:delete_dogs' object.pk %}">Удалить</a>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}